@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

h1{
    font-family: "Afacad Flux", sans-serif;
    color: #3b3737;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 25px;
}

a:link, a:visited {
    text-decoration: none;
    font-family: "Afacad Flux", sans-serif;
    font-size: 20px;
    border: 2px solid  #9a6bb2;
    border-radius: 50px;
    padding: 8px;
}

a:hover {
    color: white;
    background-color: #9a6bb2;
}